body {
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  width: 90%;
  margin: 20px auto;
  background-color: #FFF;
  padding: 20px;
}
pre {
  border: 1px solid #CCC;
  background-color: #EEE;
  color: #333;
  padding: 10px;
}
